version: '3.9'
services:
  mongo:
    image: mongo:7
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - "C:/Docker/RestoAPP/mongo-data:/data/db"

  backend:
    build: ./backend
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://mongo:27017/restoapp
    ports:
      - "8080:8080"
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    ports:
      - "4200:80"
    depends_on:
      - backend
